*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
nav{
    width: 100%;
    height: 100px;
    background-color: chocolate;
}
sub del{
    font-size: 12px;
}
label.logo{
    font-size: 35px;
    color: antiquewhite;
    padding: 5px 15px;
    line-height: 80px;
    user-select: none;
    margin-left: 8px;
}
nav ul{
    float: right;
    margin-right: 30px;
    line-height: 80px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 7px 21px;
    margin: 0px 5px;
}
nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 18px;
    text-transform: uppercase;
}
nav ul li a:hover{
    background-color: aquamarine;
    color: black;
    padding: 3px 6px;
    transition: 1s;
    border-radius: 10px;
}
.checkbtn{
    float: right;
    font-size: 30px;
    background-color: #879171;
    margin-right: 20px;
    padding: 3px 6px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
    color: antiquewhite;
}
#check{
    display: none;
}
/*@media (min-width:956px){
    label.logo{
        font-size: 30px;
        padding: 5px 15px;
    }
    nav ul li{
        line-height: 80px;
    }
    nav ul li a{
        font-size: 15px;;
    }
}*/
@media (min-width: 450px){
    label.logo{
        font-size: 40px;
        color: black;
    }
    .checkbtn{
        display: block;
        color: black;
        font-size: 35px;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #879171;
        text-align: center;
        top: 100px;
        left: -100%;
        transition: 1s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
        color: black;
    }
    nav ul li a:hover{
        background-color: transparent;
        border-bottom: 2px solid #d3a8b2;
        padding: 4px 10px;
    }
    #check:checked ~ ul{
        left: 0px;
    }
}
    

 